@font-face {
  font-family:'Cool Script';
  src:url(cool.eot);
  src:url(cool.eot?#iefix) format("embedded-opentype"),
  url(cool.woff) format("woff"),
  url(cool.ttf) format("truetype"),
  url(cool.svg#cool_script) format("svg");
  font-weight:400;
  font-style:normal;
}